{% extends('@smartpage/smartpage.twig') %}

{% block head %}
    {{ parent() }}

{% endblock %}


{% block content %}
    {% include 'elements/menu.twig' %}

    <section class="section">
        <h1 class="title">Oktató</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
        </h2>
    </section>



{% endblock %}